@model Domain.Reservation.Models.ReservationModel

@{
    ViewBag.Title = "Potwierdzenie Rezerwacji";
}

<br />
    
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Dziękujemy za rezerwację pokoju <label>@Model.RoomModel.Name</label> !</h4>
    <p>Numer Twojego pokoju to <label>@Model.RoomModel.Number</label>.</p>
    <p>Okres Twojego pobytu to @Model.StartDate.ToString("dd/MM/yyyy") - @Model.EndDate.ToString("dd/MM/yyyy").</p>
    <p>Doba pokojowa zaczyna się od godziny 15:00, a kończy o 12:00 ostatniego dnia pobytu.</p>
    Aby wrócić na stronę główną, kliknij <a href="@Url.Action("Index", "Home")" class="alert-link">TUTAJ</a>.
</div>